<ion-view view-title="Slide">
  <ion-content class="padding">
    <a class="item item-list-detail">
      <ion-scroll direction="x">
        <img ng-repeat="picture in gotPictures" ng-src="{{picture.src}}" ng-click="showImages($index)" class="picture-thumb"/>
      </ion-scroll>
    </a>
    <a class="item item-list-detail">
      <ion-scroll direction="x">
        <img ng-repeat="picture in avengersPictures" ng-src="{{picture.src}}" ng-click="showImages($index)" class="picture-thumb"/>
      </ion-scroll>
    </a>
  </ion-content>
</ion-view>
